fastapi==0.128.0
uvicorn==0.40.0
SQLAlchemy==2.0.46
psycopg2-binary==2.9.11
numpy==2.2.5
python-multipart==0.0.22
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
qrcode==7.4.2
pillow==11.2.1
opencv-python-headless==4.13.0.90
email-validator==2.3.0
pandas==2.2.3
openpyxl==3.1.5
python-dotenv==1.2.1
gunicorn==25.1.0
telethon==1.42.0
alembic==1.15.1
pydantic-settings==2.2.1
slowapi==0.1.9
boto3==1.36.26
